

.footer {
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 40px;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #333D4B;
        padding: 47px 85px;
    }
    .logo-item {
        margin-right: 60px;
    }
    &__list {
        display: flex;
        align-items: center;
        border: 1px solid white;
    }
    &__item + &__item {
        margin-left: 33px;
    }
    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: #83888F;    
    }
    &__list-logo {
        display: flex;
        align-items: center;
        border: 1px solid white;
    }
    &__item-logo + &__item-logo {
        margin-left: 24px;
    }
}

@media only screen and (max-width: 1024px) {
    .footer {
    
        &__container {
        }
        .logo-item {
        margin-right:0;
        }
        &__list {
        }
        &__item + &__item {
        }
        &__link {  
        }
        &__list-logo {
        }
        &__item-logo + &__item-logo {
        }
    }
}
@media only screen and (max-width: 920px) {
    .footer {
    
        &__container {
            display: block;
        }
        .logo-item {
        }
        &__list {
        }
        &__item + &__item {
        }
        &__link {  
        }
        &__list-logo {
        }
        &__item-logo + &__item-logo {
        }
    }
}
@media only screen and (max-width: 500px) {
    .footer {
    
        &__container {
        }
        .logo-item {
        }
        &__list {
        }
        &__item + &__item {
        }
        &__link {  
        }
        &__list-logo {
        }
        &__item-logo + &__item-logo {
        }
    }
}

