
.header {
    padding: 40px 24px;

    &__nav {
        display: flex;
        justify-content: space-between;
        min-width: 300px;
        align-items: center;
        // border: 1px solid green;
    }

    &__item {
        display: inline-block;
    }

    &__item + &__item {
        margin-left: 32px;
    }

    &__link {
        font-family: 'Barlow';
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        letter-spacing: 0.923077px;
        text-transform: uppercase;
        color: $Grey;  
    }
    &__link-menu {
        display: none;
    }
}

@media only screen and (max-width: 590px) {
    
.header {
    padding: 32px 24px;

    &__nav {
    }
    &__image {
        width: 163px;
        height: 18px;
    }
    &__list {
        display: none;
    }
    &__item {
    }

    &__link {
    }
    &__link-menu {
        display: block;
    }
}
}