.header {
    
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 64px;
        margin-bottom: 67px;
    }
    
    &__image-wrapper {
    }
    
    &__image-link {
    }
    
    &__image {
        width: 196px;
        height: 24px;
    }
    
    &__list {
        display: flex;
    }
    
    &__item {
        text-transform: uppercase;
    }
    
    &__item + &__item {
        margin-left: 42px;
    }
    
    &__item-link {
        font-family: 'Jost';
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 14px;
        letter-spacing: 2px;
        color: $dark-grey;
    }
    
    &__item-link:hover {
        text-decoration-line: underline;
    }
    
    &__menu-wrapper {
        display: none;
    }
}

@media only screen and (max-width: 700px) {
    .header {
        
        &__list {
            display: none;
        }
        
        &__menu-wrapper {
            display: block;
        }
        
        &__menu-logo {
            width: 24px;
            height: 20px;
        }
    }    
}