

.why {
    margin-top: 200px;
    margin-bottom: 355px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 100px;
        padding-left: 85px;
        padding-right: 85px;
        border-radius: 10px;
        background-color: $DarkGreyBlue;
    }

    &__heading{
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 40px;
        line-height: 48px;
        color: $LightCreamBG;
        margin-bottom: 32px;
    }

    &__text{
        max-width: 540px;
        font-family: 'Barlow';
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $LightCreamBG;
        opacity: 0.8;
        text-align: center;
        margin-bottom: 86px;
    }

    &__list{
        width: 100%;
        display: flex;
        margin-bottom: -155px;
    }

    &__item{
        text-align: center;
        padding: 72px 47px 47px 48px;
        background-color: $DarkCyan;
        border-radius: 8px;
    }

    &__item + &__item{
        margin-left: 30px;
    }

    &__image{
        margin-bottom: 56px;
    }

    &__item--heading{
        margin-bottom: 24px;
        font-family: 'Fraunces';
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        color: $LightCreamBG;
    }

    &__item--text{
        max-width: 255px;
        font-family: 'Barlow';
        font-weight: normal;
        font-size: 16px;
        line-height: 26px;
        color: $LightCreamBG;
        text-align: center;
    }
}

@media only screen and (max-width: 1020px) {
    .why {

		&__container {
            padding-top: 70px;
            padding-bottom: 70px;
            padding-left: 55px;
            padding-right: 55px;
		}

		&__heading {
            font-size: 32px;
            margin-bottom: 24px;
		}

		&__text {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 70px;
		}

		&__list {
            display: block;
            max-width: 600px;
            width: 100%;
            margin-bottom: 0;

		}

		&__item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 41px 48px 41px 70px;
		}

        &__item + &__item{
            margin-left: 0;
            margin-top: 24px;
        }

		&__image {
            width: 55px;
            height: 55px;
            margin-bottom: 0;
		}

        &__item-wrapper {
            max-width: 345px;
            width: 100%;
            text-align: left;
            margin-left: 15px;
        }

		&__item--heading {
            margin-bottom: 16px;
            font-weight: 900;
		}

		&__item--text {
            max-width: none;
            font-size: 15px;
            line-height: 25px;
            text-align: left;
		}
    }
}

@media only screen and (max-width: 550px) {
    .why {

		&__container {
            padding-top: 64px;
            padding-left: 24px;
            padding-right: 24px;
		}

		&__heading {
            font-size: 28px;
            line-height: 28px;
            margin-bottom: 24px;
		}

		&__text {
            font-size: 15px;
            line-height: 25px;
            margin-bottom: 65px;
		}

		&__list {
            display: block;
            max-width: none;

		}

		&__item {
            display: block;
            padding: 72px 33px 51px 33px;
		}

        &__item + &__item{
            margin-left: 0;
            margin-top: 24px;
        }

		&__image {
            width: 55px;
            height: 55px;
            margin-bottom: 56px;
		}

        &__item-wrapper {
            max-width: none;
            width: 100%;
            text-align: center;
            margin-left: 0;
        }

		&__item--heading {
            margin-bottom: 24px;
		}

		&__item--text {
            max-width: none;
            font-size: 15px;
            line-height: 25px;
            text-align: center;
		}
    }
}